<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dictionary</title>
</head>
<body>
<form action="/dictionary_search/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="dictionary"/>
    <input type="submit" value="upload"/>
</form>

<form method="post">
    <input type="text" name="line"/>
    <input type="submit" value="find"/>
</form>
</body>
</html>